<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.view">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Comedor Unicen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>


        <activity
            android:name=".login.Sign_up"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".login.ChooseCategory"
            android:theme="@style/AppTheme.NoActionBar" />





        <activity
            android:name=".myOrders.Fragment.OrderDetails.ActivityPdf"
            android:label="@string/title_activity_pdf"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".food.cart.ActivityCart"
            android:label="@string/title_activity_pdf"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".food.FinishOrder"
            android:label="@string/title_activity_pdf"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".food.FoodDetail"
            android:label="@string/title_activity_pdf"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".myAccount.Activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>